<div class="container-fluid">
  <div class="row">
    <h3>El aroma mágico</h3>
  </div>
  <div class="row">
    <img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fst.depositphotos.com%2F3694213%2F5142%2Fi%2F950%2Fdepositphotos_51426521-stock-photo-coffee-sack-with-scattered-beans.jpg&f=1&nofb=1&ipt=64c69623cdf4d9412fa41bc6f79fb62b7b46b97064235d026e9a7e18cfda0a76&ipo=images"
      class="img-fluid" alt="café de cammpo">
  </div>
  <div class="row">
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Región</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let coffeeType of coffeeTypes">
        <th scope="row">{{coffeeType.id}}</th>
        <td>{{coffeeType.nombre}}</td>
        <td>{{coffeeType.tipo}}</td>
        <td>{{coffeeType.region}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <span>Total café de origen: 3</span>
  </div>
  <div class="row">
    <span>Total café blend: 3</span>
  </div>
  <div class="row">
    <span>Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico </span>
  </div>
</div>
